<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68721212611-bfs500sor6djt3q1hcu3rl7bl64r3vk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68721212611-bfs500sor6djt3q1hcu3rl7bl64r3vk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCM27gHbBwabp_HTecZNUwincM-XUwecD8</string>
	<key>GCM_SENDER_ID</key>
	<string>68721212611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adhicine</string>
	<key>PROJECT_ID</key>
	<string>adhicine-c828f</string>
	<key>STORAGE_BUCKET</key>
	<string>adhicine-c828f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68721212611:ios:8814605b6abca072e5b676</string>
</dict>
</plist>